<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ypy.model.UserMapper">   <!-- 为了保证唯一，一般写为文件路径 -->
	
	<select id="query" resultType="UserModel">
		select * from t_user
	</select>
</mapper>